.home-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 20vw auto;
}

.empty-feed-container span {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty-feed-container a {
    color: #fbb023;
}

.feed-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(33, 32, 32);
}

.create-lit-container {
    grid-column: 2;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lit-label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#lit-input {
    border-radius: 10px;
    border: 1px black solid;
    width: 500px;
    padding: 10px;
}

.create-lit-container .submit-button {
    width: 200px;
}

.lits-container {
    overflow: scroll;
    height: 200px;
    grid-column: 2;
}

#scrollableDiv {
    overflow: scroll;
    grid-column: 2;
    height: 82%;
    overflow-x: hidden;
    padding: 1em;
}


body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    margin: 0;
    background-color: rgb(22, 22, 22);
    color: white;
}