.lit-container {
    margin-bottom: 10px;
    width: 98%;
    border: 1px solid rgb(70, 70, 70);
    display: grid;
    grid-template-columns: 60px auto;
    padding-left: 10px;
}

.timestamp {
    width: auto;
    padding: 5px;
    white-space: nowrap;
    color: darkgrey;
    font-size: 0.8em;
}

.lit-image {
    display: flex;
    align-items: center;
}

.lit-image img {
    height: 50px;
    width: 50px;
    margin: 0;
}

.lit-text-container {
    margin: 5px 10px;
    display: flex;
    flex-wrap: wrap;
}

.lit-text-container >* {
    width: 100%;
}

.lit-text-container .username {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.action-container .like {
    cursor: pointer;
    opacity: 0.5;
}

.action-container .liked {
    cursor: pointer;
}
