.nav-container {
  position: relative;
  grid-column: 1;
  grid-row: 1;
}

.header a .logo {
  height: 80px;
}

.link-item {
  display: block;
  margin: 50px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.link-item:hover {
  color: #fbb023;
}
