.profile-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 32, 32);
  height: 100vh;
}

.info-container {
  display: grid;
  border-bottom: black 1px solid;
}

.profile-image {
  width: 20vw;
  margin: 10px;
}

.profile-image img, .lit-image img  {
  background-color: rgb(76, 75, 75);
  margin: auto;
  display: block;
  width: 150px;
  height: 150px;
  border: black 0.5px solid;
  border-radius: 50%;
}

.profile-info-container {
  width: 55vw;
  margin: 10px;
}

.profile-info-container .username {
  font-size: 20px;
}

.profile-info-container .follow-button {
  width: 100px;
  margin: 0 auto;
  cursor: pointer;
  padding: 5px;
  background-color: #fbb023;
  border: #fbb023 1px;
  border-radius: 10px;
  color: white;
}

.profile-info {
  display: flex;
  gap: 10px;
}

.text-container {
  text-align: left;
  min-height: 50px;
}
