.profile-container {
  display: grid;
  grid-template-rows: 25vh auto;
  background-color: rgb(33, 32, 32);
}

.info-container {
  display: flex;
  border-bottom: black 1px solid;
}

.profile-image {
  width: 20vw;
  margin: 10px;
}

.profile-image img {
  background-color: rgb(76, 75, 75);
  margin: auto;
  display: block;
  width: 150px;
  height: 150px;
  border: black 0.5px solid;
  border-radius: 50%;
}

.profile-info {
  

}


.lits-container {

}

/* .profile-container {
  border: red solid;
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 40vh auto;
  text-align: center;
}

.info-container {
  display: grid;
  grid-template-columns: 10vw auto;
  grid-column: 2;
}

.image {
  grid-column: 1;
  margin: 30px;
  width: 200px;
  height: 200px;
  border: black 0.5px solid;
  border-radius: 50%;
}

img {
  width: 140px;
  height: 140px;
  margin: 25px auto;
}

.text-container {
  grid-column: 2;
}



.lits-container {
  background-color: aquamarine;
  grid-column: 2;
} */